body{
	background-image: url(http://s1.1zoom.me/b5050/520/Lightning_Thundercloud_Clouds_Night_518556_1440x900.jpg);

	background-size: 100%;

	background-repeat: no-repeat;
}

.row{
	float: left;
	width: 47%;
	background-color: rgba(168, 168, 168, 0.5);
	margin: 1%;
	padding: 0s.4%;
	text-align: center;
}
.linea{
	display: inline-block;
}

.alo{

	float: left;
	width: 94%;
	background-color: rgba(172, 215, 255, 0.5);
	margin: 1%;
	padding: 1%;
	text-align: center;

}

.lo{

	float: left;
	width: 96%;
	background-color: rgba(168, 168, 168, 0.5);
	margin: 1%;
	padding: 1%;
	text-align: center;
}

http://s1.1zoom.me/b5050/86/Scenery_Fields_Stars_Sky_Night_Moon_Clouds_512153_1680x1050.jpg

https://cdn.pixabay.com/photo/2014/10/07/20/54/sunset-478396_960_720.jpg

http://s1.1zoom.me/b5050/520/Lightning_Thundercloud_Clouds_Night_518556_1440x900.jpg